<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/nav_menu.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="sticky-top">
      <a href="/">Главная</a>
      <a href="/catalog/">Каталог домов</a>
      <a href="/map/">Интерактивная карта</a>
      <a href="/about/">О проекте</a>
      <a href="/profile/">Профиль</a>
      <div id="indicator"></div>
    </nav>
    {% block content %}
    {% endblock %}

</body>
</html>