<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вам привет</title>
</head>
<body>
    <div>
        <h1>
                        Добрый день!

        </h1>
        <p>
            Благодарим Вас за проявленный к нашей продукции интерес. Вы получили первый эксклюзивный выпуск нашего ежемесячного журнала о панельках.
            В этот раз информации немного, так как, в сущности, это тестовый документ, но не отчаивайтесь – скоро будет действительно интересно (или нет, потому что наш разработчик порядком подустал делать 10 дел одновременно).
            Закончить придётся, не успев начать, но что поделать – жизнь несправедлива.
            Подписывайтесь на наши соцсети, которых нет и пишите нам на почту, которая нигде пока что не указана.
            До скорых встреч!
            С уважением,
                команда
        </p>
    </div>
</body>
</html>