{% extends "layout.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
    <form action="/login/" method="post">
        <div class="form-group align-items-center">
            {{ form.username.label}}
            {% if form.username.errors %}
                <ul class=errors>
                {% for error in form.username.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <input class = "form-control" placeholder="Придумайте ник" {{ form.username() }}
        </div>
        <div class="form-group">
            {{form.email.label}}
            {% if form.email.errors %}
                <ul class=errors>
                {% for error in form.email.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Введите email" {{ form.email() }}
            <small id="emailHelp" class="form-text text-muted">Мы не передаём ваши данные третьим лицам</small>
        </div>
        <div class="form-group">
            {{form.password.label}}
            {% if form.password.errors %}
                <ul class=errors>
                {% for error in form.password.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <input type="password" class="form-control" id="inputPassword" placeholder="Придумайте надёжный пароль"
                    {{ form.password() }}
        </div>
        <div class="form-group">
            {{ form.confirm.label }}
            <input type="password" class="form-control" id="inputPassword" placeholder="Повторите пароль"
                   {{ form.confirm() }}
        </div>
        {{ form.gender.label }}
        <select class="form-control" id="genderSelect" {{ form.gender() }}
        <p></p>
        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
    </form>

{% endblock %}